<!DOCTYPE html>
<html ng-app="d3DemoApp">
  <head>
    <meta charset="utf-8">
    <title>AngularJS + D3.js</title>
    <script src="http://d3js.org/d3.v2.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="basic.css">
    <link rel="stylesheet" href="app.css">
  </head>
  <body ng-controller="AppCtrl">
      <div>
        <div>
            <label>Property Type</label>
            <select ng-model="input.type"><option ng-repeat="type in propertyTypes">{{type}}</option></select>
        </div>
        <div>
            <label>City</label>
            <select ng-model="input.city"><option ng-repeat="city in propertyCities">{{city}}</option></select>
        </div>
        <div>
            <label>State</label>
            <select ng-model="input.state"><option ng-repeat="state in propertyStates">{{state}}</option></select>
        </div>
        <div>
            <label>Zipcode</label>
            <input ng-model="input.zip"></input>
        </div>
        <div>
            <label>Number of Beds/Rooms</label>
            <input ng-model="input.beds"></input>
        </div>
        <button ng-click="filterData()" >Try New Data</button>

    </div>
    <true-house val="data.globalpropIDX"></true-house>
  </body>
</html>
